@charset "utf-8";
.theme-color,.hover-color:hover{color: #3795ee;}
.org{
	color: #fc9a33;
}
.green{
	color: #40d34b;
}
.color5b{
	color: #5b5b5b;
}
.hs-checkbox .checkbox-label.font-16{
	font-size: 16px;
}

/*背景*/
.hs-container{
	height: 100%;
	width: 100%;
    position: relative;
    min-width: 1200px;
}
/*头部*/
.hs-header {
    height: 80px;
    width: 100%;
    position: absolute;
    z-index: 3;
    background-color: #fff;
    background-image: url(../../img/original/header-bg.png);
    background-size: cover;
}
.header-contianer .header-logo,
.header-contianer .header-menu{
	float: left;
	padding: 0 8px;
}
.header-contianer .header-logo {
    padding: 0px 16px;
    height: 80px;
    width: 15.4%;
}
.header-contianer .header-logo img{
	vertical-align: middle;
	max-height: 48px;
	position: relative;
	top: 50%;
	transform: translate(0,-50%);
}
.header-contianer .header-menu{
	display: table;
	min-height: 80px;
}
.header-contianer .header-menu .menu-item {
	padding: 0px 8px;
	font-size: 1.8em;
	position: relative;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	height: 80px;
}
.header-contianer .header-menu .menu-item:hover{
	 animation: recBigger .5s forwards;
    -webkit-animation: recBigger .5s forwards;
    -moz-animation: recBigger .5s forwards;
    -ms-animation: recBigger .5s forwards;
}
@keyframes recBigger {
    0%{font-size: 1.8em;}
    50%{font-size: 1.9em;}
    100%{font-size: 2em;}
}
@-webkit-keyframes recBigger {
    0%{font-size: 1.8em;}
    50%{font-size: 1.9em;}
    100%{font-size: 2em;}
}
@-moz-keyframes recBigger {
    0%{font-size: 1.8em;}
    50%{font-size: 1.9em;}
    100%{font-size: 2em;}
}
@-ms-keyframes recBigger {
    0%{font-size: 1.8em;}
    50%{font-size: 1.9em;}
    100%{font-size: 2em;}
}
.header-contianer .header-menu a{
	color: #fff;
	font-family: Microsoft Yahei, SimHei;
}
.header-contianer .header-menu .menu-item:hover:after,
.header-contianer .header-menu .menu-item.menu-item-sel:after {
	content: '';
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #fff;
	position: absolute;
	bottom: 0px;
	left: 50%;
	margin-left: -8px;
}
.header-contianer .header-right {
    padding-right: 16px;
    height: 80px;
    display: table;
    color: #fff;
}
.header-contianer .header-right>div{
	display: table-cell;
	vertical-align: middle;
	padding-right: 16px;
}
.header-contianer .header-right .icon-skin {
	position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    background-color: #1d5fb7;
    box-shadow: 1px 2px 4px 0px rgba(36, 44, 53, 0.29);
    line-height: normal;
    padding-right: 0px;
}
/* 下拉 浮动框 */
.head-admin {
	display: none;
	position: absolute;
    background-color: #fff;
    top: 79px !important;
    right: 12px;
    left: auto;
    text-align: center;
    width: 128px;
    height: auto;
    z-index: 100;
    border-radius: 3px;
    padding: 12px 0;
    -moz-box-shadow:  0 4px 20px rgba(0, 0, 0, .13), 0 2px 6px rgba(0, 0, 0, .1);
	-webkit-box-shadow:  0 4px 20px rgba(0, 0, 0, .13), 0 2px 6px rgba(0, 0, 0, .1);
	box-shadow:  0 4px 20px rgba(0, 0, 0, .13), 0 2px 6px rgba(0, 0, 0, .1);
}

.head-admin li {
	height: auto;
    line-height: normal;
   	width: 128px;
    padding: 0;
    list-style: none;
}
.head-admin:after{
	content: '';
    right: 50%;
    top: -5px;
    margin-right: -4px;
    position: absolute;
    display: block;
    z-index: 99;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid rgba(255, 255, 255, 1);
}
.head-admin a {
    color: #666;
    font-size: 16px;
    line-height: 36px;
    font-family: Microsoft YaHei, SimHei;
    text-decoration: none;
}
/*左侧菜单*/
.hs-aside{
	width: 15.4%;
	background-color: #fff;
	box-shadow: 3px 0px 3px 0px rgba(14, 4, 8, 0.3);
	position: absolute;
	top: 80px;
	left: 0;
	bottom: 0;
	z-index: 2;
	overflow: hidden;	
}

.hs-aside .menu-toggle {
	color: #999;
	vertical-align: text-bottom;
	min-width: 12px;
	display: inline-block;
}
.left-menu-item .menu-item {
	min-height: 60px;
	padding-left: 32px;
	font-family: Microsoft Yahei, SimHei;
	position: relative;
}
.left-menu-item .menu-item a {
    color: #666;
    margin-left: 24px;
    line-height: 60px;
}
.left-menu-item .menu-item-sel  {
	background-color: #f3f4f9;
}
.left-menu-item .menu-item.menu-has-img .circle28 {
    margin-top: 16px;
    font-size: 1.4em;
    border: 1px solid #3795ee;
    color: #3795ee;
}
.left-menu-item .menu-item.menu-has-img .circle28 img{
    width: 16px;
    height: 16px;
    margin: 5px;
}
.left-menu-item .menu-item .add-btn,.hs-aside .left-secord-menu .add-btn {
	position: absolute;
	right: 16px;
	top: 50%;
	margin-top: -10px;
	color: #5caef5;
}
.left-menu-item .left-secord-menu{
	padding-left: 84px;
	color: #999999;
	line-height: 60px;
}
.left-menu-item .left-secord-menu > div{
	padding: 8px 0;
	margin-right: 8px;
}
.left-menu-item .left-secord-menu span {
	display: inline-block;
    vertical-align: middle;
    height: 60px;
    line-height: 60px;
}
.left-menu-item .menu-item a:hover,
.left-menu-item .left-secord-menu span:hover{
	color: #3795ee;
}
.left-menu-item .menu-item.menu-has-img.menu-item-sel .circle28{
	background-color: #3795ee;
	color: #fff;
}
/* 右侧内容区  */
.hs-main {
	width: 100%;
	height: 100%;
	border-top: 80px solid transparent;
	padding-left: 15.4% !important;
	box-sizing: border-box;
	margin: 0 auto;
}
.hs-main .main-content {
  	height: 100%;
}
.hs-main .mainTheme-right .mainTheme-contain {
	padding: 16px 0 0px 16px;
}

.hs-main .mainTheme-right .main-content {
	background-color: #fff;
	padding: 16px;
	overflow: auto;
}
.center-contianer{
	width: 60%;
    height:100%;
    float: left;
    overflow: hidden;
}
.center-contianer-bm{
	width: 72%;
    height:100%;
    float: left;
    overflow: hidden;
}
.center-contianer-all{
	width: 100%;
    height:100%;
}
.right-contianer{
	width: 40%;
    height:100%;
    float: right;
}
.right-contianer-sm{
	width: 28%;
    height:100%;
    float: right;
    padding-left: 8px;
}
.split-line{
	position: absolute;
	top: 16px;
	bottom: 16px;
	width: 1px;
	background-color: #e9ebeb;
	left: 60%;
    z-index: 1;
}
/*头部操作按钮*/
.top-operations {
	position: relative;
	width: 100%;
	background: #fff;
	padding: 0 8px;
	box-shadow: 0px 0px 5px 0px rgba(14, 4, 8, 0.3);
	font-family: Microsoft Yahei, SimHei;
	min-height: 56px;
}
.top-operations .operation-item {
	padding: 0px 8px;
	color: #666;
    display: inline-block;
    height: 56px;
    line-height: 56px;
}
.top-operations button.operation-item,.mainTheme-top button.operation-item:disabled{
	background-color: #fff;
}
.top-operations .operation-item i {
	padding: 0px 8px;
	color: #666;
}
.top-operations .operation-item:hover span,
.top-operations .operation-item:hover i:before{
	color: #3795ee;
}
.top-operations-right .default-form .form-item,.top-operations-right .default-form{
	padding: 0;
}
.top-operations-right .default-form .form-item-button{
	margin: 14px 0;
}
.top-operations-right .default-form .form-item-button .hs-button{
	height: 28px;
    line-height: 26px;
    padding: 0;
}
.top-operations-right .default-form .form-label{
	padding: 4px 8px;
	width: auto;
}
.top-operations-right .hs-input .input-inner{
	height: 32px;
    line-height: 30px;
	border: none;
	border-bottom: 1px solid #dcdfe6;
	border-radius: 0;
	font-size: 16px;
}
.top-operations-right .hs-input select.input-inner{
	border: 1px solid #dcdfe6;
	border-radius: 16px;
}
.top-operations-right .default-form .form-label+.hs-input{
	width: 100px;
}
/* 右侧关联文件  */
.top-operations-right .default-form .form-relavant{
	padding: 4px 8px;
	width: auto;
}
.top-operations-right .relavant-input .input-inner{
	height: 32px;
    line-height: 30px;
	border: none;
	border-bottom: 1px solid #dcdfe6;
	border-radius: 0;
	font-size: 16px;
}
.top-operations-right .relavant-input select.input-inner{
	border: 1px solid #dcdfe6;
	border-radius: 16px;
}
.top-operations-right .default-form .form-relavant+.relavant-input{
	width: 200px;
    display:inline-block;
}
/*上传PDF*/
.default-form .changeFile{
	font-size: 16px;
}
.default-form .form-item{
	position:relative;
	display:inline-block;
}

.default-form .form-item .uploadPDF{
	width:100%;
	position:absolute;
	top:0;
	left:0;
	opacity: 0;
}
.default-form .form-item .showFile{
	border:1px solid #ccc;
	height:26px;
	font-size: 14px;
    padding-left: 5px;
    box-sizing: border-box;
}
.default-form .uploadFile{
	display:inline-block;
	font-size:14px;
	cursor: pointer;
    background: #fff;
    border: 1px solid #ccc;
    color: #666;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
     margin: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 4px 8px;
    border-radius: 4px;
    margin-left:5px;
	
}
.formdialogBox{
	width: 350px;
    height: 140px;
}
/* 内容区 */
.bottom-content{
	height: -webkit-calc(100% - 56px);
    height: -moz-calc(100% - 56px);
    height: calc(100% - 56px);
    padding: 16px 0 16px 16px;
}
.bottom-content-all{
    height: 100%;
    padding: 0px;
}
/* 表单 */
.default-form{
	padding: 16px;
}
.default-form .form-item{
	padding-bottom: 16px;
}
.default-form .form-item input:required~.error,
.default-form .form-item select~.error{
	color: red;
	position: absolute;
}
.default-form .form-label {
    float: left;
    display: block;
    padding: 10px 8px;
    width: 128px;
    font-weight: 400;
    line-height: 1.5;
    text-align: right;
    color: #666;
}
.default-form .form-label+.hs-input{
    min-height: 36px;
    color: #333;
    width: 180px;
}
.default-form .form-item-button{
	text-align: right;
}
.default-form .form-item-button.t-a-c{
	text-align: center;
}
.default-form .form-item-button.t-a-l{
	text-align: left;
}
.default-form .form-item-button .hs-button{
	margin-left: 12px;
}
.default-form .form-item-button input.hs-button{
	width: 60px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.default-form .hs-input-select:after{
	content: '';
	display: block;
    position: absolute;
    right: 12px;
    height: 0px;
    width: 0px;
    border-width: 8px;
    border-style: solid dashed dashed;
	border-color: #dcdfe6 transparent transparent;
    transform: translate(0,-50%);
    margin-top: 4px;
    top: 50%;
}
/* table表格 */
.default-table{
	border-collapse: collapse;
}
.default-table-fixed{
	table-layout: fixed;
}
.default-table tr{
	border-bottom: 1px solid #e5e5e5;
}
.default-table th,.default-table td{
	line-height: 1.5;
	padding: 0 8px;
	height: 36px;
	word-break:break-all;
}
.default-table th{
	color: #333;
	font-size: 18px;
	font-weight: normal;
	text-align:left;
}
.default-table td{
	color: #666;
	font-size: 16px;
}
.default-table a{
	color: #3795ee;
}
.default-table a:hover{
	color: #2e81d0;
}
/* 重写layer样式 */
.layui-layer-title{
	font-size: 1.6em !important;
}
.layui-layer-btn .layui-layer-btn0{
	border: 1px solid #dedede !important;
    background-color: #fff !important;
    color: #333 !important;
}
.layui-layer-btn .layui-layer-btn1{
	border-color: #1E9FFF;
    background-color: #1E9FFF;
    color: #fff;
}
/* 表单元素 */
.form-source-container, .form-element-container {
	padding: 0;
	height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
}
.form-element-container .default-form .form-item{
	padding-bottom: 16px;
}
.default-form .hs-input.hs-input-select select{
	padding: 0 24px 0 12px;
}
.default-form .hs-input-select:after{
	right: 8px;
}
.default-form .hs-input-select.select-multiple:after{
	display:none;
}
.default-form .hs-input.hs-input-select.select-multiple select{
	padding-top: 8px;
	height: auto;
}
.default-form .tips{
	padding-top: 16px;
}
.default-form .hs-input.hs-input-select.select-multiple select option{
	padding-bottom: 4px;
}
.form-source-bottom .default-form .form-item-button.t-a-l{
    margin-left: 120px;
}

.cover-contianer-all{
	position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(14, 4, 8, 0.3);
    z-index: 4;
}
.center-cover-container{
	position: absolute;
	top: 28px;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 16px 0 16px 16px;
}
.cover-aside{
	position: absolute;
	left:0;
	width: 256px;
	background-color: #fff;
	overflow: hidden;
	border-right: 8px solid #e9ebee;
}
.cover-content{
	position: relative;
	height: 100%;
	width: 100%;
}
.cover-content .bottom-content{
	padding: 16px;
}
.right-content{
	height: 100%;
	width: 100%;
    border-left: 256px solid transparent;
}
.right-content .contain-center{
	padding: 16px;
}
.center-cover-container .left-menu-item .menu-item{
	padding-left: 0px;
}
.top-operations-diff{
	box-shadow: none;
}
.cover-remove{
	position: absolute;
    right: 0;
    height: 28px;
    top: -29px;
    z-index: 2;
    background: #fff;
    padding: 4px 6px;
    cursor: pointer;
}
.cover-remove:hover{
	opacity: 0.85;
}
.cover-bottom-content{
	padding: 0;
}

/* 文件列表 */
.list-data{
	height: calc(100% - 47px);
}
.list-data .list-item{
	background: #fff;
	font-size: 0em;
	position: relative;
}
.list-data .list-item .font-18{
	font-size: 18px;
	line-height: 1.5;
}
.list-data .list-item:hover{
	box-shadow: 0px 0px 5px 0px rgba(102, 102, 102, 0.3);
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=135, Strength=5);/*for ie6,7,8*/ 
	-moz-box-shadow: 0px 0px 5px 0px rgba(102, 102, 102, 0.3);
	-webkit-box-shadow: 0px 0px 5px 0px rgba(102, 102, 102, 0.3);
	box-shadow: 0px 0px 5px 0px rgba(102, 102, 102, 0.3);
	z-index: 1;
}
.list-data .left-block{
	vertical-align: middle;
	margin: 0 36px;
	min-width: 35px;
}
.list-data .center-block{
	vertical-align: middle;
	padding: 14px 0;
	width: calc(100% - 288px);
}
.list-data .right-block{
	vertical-align: middle;
	text-align: center;
	padding-left: 16px;
	width: 180px;
}
.list-data .right-block .iconfont, .list-data .right-block img{
	padding-left: 8px;
	cursor: pointer;
	vertical-align: middle;
}
.list-data .right-block .iconfont:hover{
	color: #3795ee;
}
.list-data .right-block .iconfont:first-child{
	padding-left: 0;
}
.list-data .list-item:hover .text-title{
	animation:mymove .6s linear 1 normal forwards;
}
.list-data .text-title{
	padding-bottom: 4px;
}
@keyframes mymove{
	0%   {font-size: 18px;}
	50%  {font-size: 19px;}
	100% {font-size: 20px;}
}
.list-center-line{
	 height: 1px;
	 width: 100%;
	 background-color: #e5e5e5;
}
.list-data .warn-block{
	display: table-cell;
	vertical-align: middle;
	width: 35px;
	height: 35px;
	border: solid 1px #999;
	border-radius: 50%;
	color: #999;
	font-size: 13px;
	text-align: center;
}
.list-data .warn-block.status1{/* 特提 */
	border-color: #c30206;
	color: #c30206;
}
.list-data .warn-block.status2{/* 特急 */
	border-color: #ff5a67;
	color: #ff5a67;
}
.list-data .warn-block.status3{/* 加急 */
	border-color: #fc9a33;
	color: #fc9a33;
}
.list-data .warn-block.status4{/* 平件 */
	border-color: #999;
	color: #999;
}
.list-data .tip-block{
	height: 20px;
	min-width: 36px;
	border-radius: 10px;
	border: solid 1px #3795ee;
	color: #3795ee;
	font-size: 13px;
	display: inline-block;
    text-align: center;
    line-height: 18px;
    margin-right: 8px;
    vertical-align: middle;
}
.list-data .tip-block.tip-status1{
	color: #f67d7d;
	border-color: #f67d7d;
}
.list-data .bh-cont{
	border: 1px solid #3795ee;
	color: #3795ee;
	padding: 0px 4px;
	float: right;
	border-radius: 4px;
	font-size: 16px;
}
.nodata{
	position: relative;
    transform: translate(0, -50%);
    top: 50%;
}
/*分页 */
.paging.list-page {
	width: 100%;
	padding-top: 10px;
	position: absolute;
	height: 48px;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 0px 0px 8px 0px rgba(153, 153, 153, 0.3);
	-webkit-box-shadow: 0px 0px 8px 0px rgba(153, 153, 153, 0.3);
}

.paging.list-page .gopages {
	display: inline-block;
	width: 50px;
	height: 29px;
	border: 1px solid #ddd;
	border-radius: 4px;
	margin-left: 5px;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
}
/* 详情页右侧 */
.parent-node {
    width: 10px;
    height: 10px;
    background-color: #d2d2d2;
    border-radius: 0 50% 50% 0;
}
.f-line {
    height: 1px;
    width: 100%;
    background: #e5e5e5;
    border-left: 16px solid #fff;
    border-right: 16px solid #fff;
}
.b_line_lt {
	height: 16px;
	width: 8px;
	background: transparent;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	display: inline-block;
	position: absolute;
	left: -8px;
	top: -2px;
}

.b_line_rb {
	height: 16px;
	width: 8px;
	background: transparent;
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;
	display: inline-block;
	position: absolute;
	right: -8px;
	bottom: -2px;
}
.b_line_lt_temp{
	left: 0;
	top: 0;
}
.areatitle.right_block_sel .b_line_lt, .areatitle.right_block_sel .b_line_rb {
	border-color: #3795ee;
}
.detail-right .parent-node {
	width: 12px;
	height: 9px;
	position: absolute;
	left: 0;
	margin: 0 !important;
	top: 50%;
	background-color: #3ca0ec;
	transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
}
.detail-right .right-block-sel {
	background-color: #f7faff;
}
.detail-right .areatitle {
	padding: 32px 20px 32px 0;
}
.detail-right .areatitle i.iconfont{
	padding-right: 8px;
}
.right-check {
	display: inline-block;
	float: right;
	width: calc(100% - 144px);
}
.areatitle.right-block-sel .right-check span {
	color: #3795ee;
}
.detail-right .sm-title{
	padding-left: 40px;
}
.areatitle button.browse-zw {
	background: transparent;
	font-family: Microsoft YaHei, SimHei;
}
.areatitle button.browse-zw{
	font-size: 10px;
}
.areatitle-con{
	padding: 24px 0 0 40px;
}
.areatitle-con .file-list:first-child {
    padding-top: 16px;
}
/*附件 */
.file-list {
    padding: 4px 0 0px 32px;
}
.file-list .reply-list{
	padding: 4px 0;
}
.file-list .reply-list span{
	vertical-align: middle;
}
.file-list .reply-list span.employee-name{
	max-width: 80px;
}
.file-list input[type="checkbox"],.file-list input[type="checkbox"] ~ label.input_label_checked,.file-list input[type="checkbox"] ~ label.input_label_nocheck{
	display: none;
}
.file-list input[type="checkbox"]:checked ~ label.input_label_checked{
	display: inline-block;
}
.file-list:hover input[type="checkbox"] ~ label.input_label_nocheck{
	display: inline-block;
}
.file-list input[type="checkbox"]:checked ~ label.input_label_nocheck{
	display: none !important;
}
.file-list .iconfont.icon-shanchu{
	display: none;
}
.file-list:hover .iconfont.icon-shanchu{
	display: inline-block;
}
.file-list .fileCircle{
	border-color: #999;
}
.file-list input[type="checkbox"]:checked ~ label.input_label_checked .fileCircle{
	border-color: #3795ee;
	margin-top: 5px;
}
.file-list input[type="checkbox"]:checked ~ label.input_label_checked i{
	color: #3795ee;
	font-size: 12px;
}
.file-list-all input[type="checkbox"] ~ label.input_label_nocheck{
	display: inline-block;
}
 .file-list-all .reply-list, .left-select .reply-list{
 	width: calc(100% - 56px);
    width: -webkit-calc(100% - 56px);
    width: -moz-calc(100% - 56px);
 }
 .file-list-all .checkbox-block, .left-select .checkbox-block{
 	margin-right: 8px;
 	padding: 6px 0;
 }
.file-list-all.marb-8{
	margin-bottom: 8px;
}

.head-admin a:hover{
    color: #000;
}
/* 正文 */
.head-admin.add-document-btn{
	top: 28px !important;
    right: -10px;
}
.head-admin.add-document-btn:after{
	right: 18px;
	border-bottom: 5px solid rgba(0, 0, 0, .1);
}
/* 我的拟稿 */
.head-ul-noborder li, .head-ul-border li {
    padding: 0px 8px;
    list-style-type: none;
    margin: 12px 0 0 10px;
    height: 32px;
    line-height: 30px;
    width: auto;
    border-radius: 0;
}
.head-ul-noborder li a, .head-ul-border li a{
	color: #999;
}
.head-ul-border li {
    border: 1px solid #ccc;
}
.head-ul-border li:hover {
    background-color: #f5f5f5;
}
.head-ul-noborder li{
	padding: 0px 32px 0 8px;
}
.head-ul-noborder li .iconfont.icon-xiala {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    color: #999;
}
.head-ul-noborder li:hover .li-child{
	position: absolute;
	display: block;
	text-align: center;
	line-height: 32px;
	z-index: 99;
	background-color: #fff;
	box-shadow: 0 0 6px 0 rgba(0,0,0,.3);
    -moz-box-shadow: 0 0 6px 0 rgba(0,0,0,.3);
    -o-box-shadow: 0 0 6px 0 rgba(0,0,0,.3);
}
.head-ul-noborder li:hover .li-child li{
	margin: 0;
	padding: 0 8px;
    height: initial;
    width: 100%;
}
.head-ul-noborder li:hover .li-child li:hover{
	background-color: #f3f4f9;
    color: #3ca0ec;
}
/* 历程 */
.b-title{
	font-size: 2.6em;
	letter-spacing: 2px;
	color: #333333;
	padding: 24px 28px 8px;
}
.b-title-sm{
	font-size: 1.8em;
	letter-spacing: 2px;
	color: #333333;
	padding: 0px 28px 8px 28px;
}
.course-content{
	margin: 0 28px;
}
.course-table{
	font-size: 100%;
	width: 100%;
	margin-top: 2em;
	border-collapse: collapse;
}
.course-table th{
	height: 48px;
	font-size: 1.8em;
	line-height: 1.5;
	font-weight: normal;
	color: #333;
	text-align: center;
}
.course-table td{
	padding: 12px 4px;
	font-size: 1.6em;
	line-height: 1.5;
	color: #333;
	text-align: center;
	
}
.course-table .t-a-l{
	text-align: left;
}
.course-table tbody tr{
	border-bottom: 1px solid #ccc;
}
.course-table tbody tr:hover{
	background-color: #eff0fa;
}
.course-table tbody tr:last-child{
	border: none;
}
.course-button{
	height: 40px;
	margin: 0;
	padding: 0px 8px;
	color: #ffffff;
	font-size: 18px;
	letter-spacing: 2px;
	white-space: nowrap;
	text-align: center;
    cursor: pointer;
    background: #fff;
    border: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 8px;
}
.course-button:hover{
	opacity: .8;
}
.course-button.warning{
	background-color: #da3546;
	margin: 36px 8px 26px 28px;
}
.course-button.primary{
	background-color: #24a944;
	margin: 36px 8px 26px 0px;
}
/* 办文圈 */
.circle32{
	height: 32px;
	width: 32px;
	line-height: 30px;
	border-radius: 50%;
	border: 1px solid #d2d2d2;
	text-align: center;
	font-size: 1.8em;
	color: #999;
}
.circle-title{
	padding: 8px;
}
.circle-content{
	height: calc(100% - 40px);
}
.circle-list {
	padding: 12px 12px 12px 0;;
}
.circle-list .circle32{
 	position: absolute;
    transform: translate(0, -50%);
    top: 50%;
   	margin: 0 8px;
}
.circle-list .text-title{
	font-size: 1.8em;
	color: #666;
	padding-bottom: 4px;
}
.circle-list .circle-center{
	padding-left: 64px;
}
.circle-list .circle-center-content{
	padding-right: 8px;
    max-width: calc(100% - 48px);
    display: inline-block;
}
/* 我的标签 */
.label-list {
	max-width: 100%;
	display: inline-block;
	text-align: center;
	font-size: 18px;
	letter-spacing: 1px;
	color: #3795ee;
	margin-top: 32px;
	padding: 0 8px;
	position: relative;
}

.label-list .label-content {
	border-radius: 14px;
	border: solid 1px #3795ee;
	padding: 2px 8px;
	text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.label-list.label-list-sel .label-content {
	background: #3795ee;
	color: #fff;
}
.circle-add{
	display: inline-block;
	height: 32px;
    line-height: 30px;
    margin: 24px auto 32px;
    padding: 0px 8px;
	border-radius: 16px;
	border: 1px solid #3795ee;
	color: #3795ee;
    text-align: center;
    cursor: pointer;
}
.circle-add:hover{
	background-color: #3795ee;
	color: #fff;
}
/* 搜索 */
.header-search{
    padding: 10px 16px;
    height: 56px;
    box-sizing:border-box;
}
.header-search > div{
	width: 250px;
    height: 36px;
    border:1px solid #ebebeb;
    border-radius: 15px;
}
.header-search input[type=text]{
	width: 100%;
    height: 100%;
    padding: 3px 106px 3px 8px;
    -moz-border-radius: 15px;
    -khtml-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background-color: #fff;
    font-family: Microsoft YaHei, SimHei;
}
.header-search input[type=text]:focus{
	 box-shadow: 0px 0px 7px 0px rgba(24, 141, 242, 0.2);
    -moz-box-shadow: 0px 0px 7px 0px rgba(24, 141, 242, 0.2);
    -o-box-shadow: 0px 0px 7px 0px rgba(24, 141, 242, 0.2);
}
.header-search .search-more{
	display: inline-block;
	line-height: 34px;
	margin-top: 0;
    padding: 0 8px;
	position: absolute;
    top: 0px;
    right: 0;
	border-left: 1px solid #ebebeb;
	border-radius: 0 5px 5px 0;
    color: #666;
    font-size: 1.4em;
    cursor: pointer;
}
.header-search i{
	position: absolute;
	right: 82px;
    top: 50%;
    cursor: pointer;
    bottom: 0;
    transform: translate(0, -50%);
}
.header-search i.icon-search:hover:before{
	color: #2e81d0;
}
@keyframes searchShow {
    0%{width: 26px;}
    100%{width: 250px;}
}
@-webkit-keyframes searchShow{
    0%{width: 26px;}
    100%{width: 250px;}
}
@-moz-keyframes searchShow {
    0%{width: 26px;}
    100%{width: 250px;}
}
@-ms-keyframes searchShow {
    0%{width: 26px;}
    100%{width: 250px;}
}
/* 高级查询 */
.width-95{
	width: calc(100% - 95px)
}
.advanced-search label{
	line-height: 32px;
}
.advanced-search input[type=text] {
    border-width: 1px;
    border-style: solid;
    border-color: #fff #fff #ccc;
    height: 32px;
    font-size: 1.0em;
}
.advanced-search .table{
	display: table;
	border: 1px solid #d2d2d2;
	border-radius: 16px;
    line-height: 32px;
}
.advanced-search .table > div{
	display: table-cell;
	text-align: center;
	border-right: 1px solid #d2d2d2;
	padding: 4px;
}
.advanced-search .table > div:first-child{
	border-radius: 16px 0 0 16px;
}
.advanced-search .table > div:last-child{
	border-right: none;
	border-radius:0 16px 16px 0;
}
.advanced-search .table > div.active{
	background-color: #ebebeb;
}
.advanced-search .two-column > input{
	width: calc(50% - 10px);
	//border-bottom:0px;
}
.search-list{
	margin: 8px 0;
}
.search-list-block{
	margin: 8px;
}
.advanced-search .bottom-action{
	height: 50px;
	line-height: 50px;
	display: table;
	width: 100%;
	position: relative;
	box-shadow: 0 0 6px 0 rgba(0,0,0,.3);
    -moz-box-shadow: 0 0 6px 0 rgba(0,0,0,.3);
    -o-box-shadow: 0 0 6px 0 rgba(0,0,0,.3);
}
.advanced-search-main{
	height: calc(100% - 90px);
}
.advanced-search .bottom-action > div{
	display: table-cell;
	vertical-align: middle;
}
.advanced-search .bottom-action input{
	background: #fff;
	font-family: Microsoft YaHei, SimHei;
}
/* 意见弹窗 */
.comment-popup .layui-layer-title{
	background-color: #fff;
    border-bottom: none;
}
.comment-container{
	padding: 0 12px 12px;
}
.comment-container .comment-record li{
	list-style: none;
    margin-left: 38px;
    color: red;
    padding: 8px 32px 8px 12px;
    position: relative;
}
.comment-container .comment-title{
	padding: 16px 16px 16px 18px;
	letter-spacing: 2px;
}
.comment-container .comment-record li:before{
	content: '';
    display: inline-block;
    height: 8px;
    width: 8px;
    background-color: #3795ee;
    border-radius: 50%;
    left: -16px;
    position: absolute;
    top: 16px;
}
.comment-record .comment-content{
	width: 58%;
	display: inline-block;
}
.comment-record .comment-content ~ .fr{
	width: 42%;
	display: inline-block;
	padding-left: 8px;
}
.comment-main {
	padding-top: 8px;
	padding-bottom: 56px;
}

.icon-xiala.triangle-right {
	display: inline-block;
	margin-left: -4px;
	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
	transform-origin: center center;
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
}

.icon-xiala.triangle-right:before {
	content: ''
}

.comment-content .content-item {
	padding: 0px 16px 0px 30px;
	margin-top: 16px;
}

.comment-content .content-item .li-circle {
	position: absolute;
	height: 7px;
	width: 7px;
	background-color: #2795ee;
	display: inline-block;
	border-radius: 50%;
	top: 50%;
	left: 0px;
	transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
}

.comment-edit {
	border: solid 1px #e5e5e5;
	padding: 12px 12px 0;
}

.comment-person, .comment-date {
	width: 80px;
	border: none;
}

.comment-edit textarea {
	margin-top: 8px;
	font-size: 16px;
	color: #333;
	line-height: 24px;
	font-family: "微软雅黑";
}

.comment-edit textarea:hover, .comment-edit textarea:focus {
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
}

.person-comment {
	border-top: 1px solid #e5e5e5;
}

.person-comment .person-comment-top {
	padding: 16px 12px 8px 4px;
}

.select-person-comment {
	width: 100%;
	overflow: hidden;
	padding: 4px 16px 0px 4px;
	min-height: 80px;
	height: -moz-calc(100% - 420px);
	height: -webkit-calc(100% - 420px);
	height: calc(100% - 420px);
}

.select-person-comment>div {
	padding: 4px 0;
}

.select-person-comment .iconfont:before {
	color: #999;
}

.select-person-comment .person-content {
	display: inline-block;
	min-height: 24px;
	width: calc(100% - 125px)
}

.select-person-comment .person-content input {
	width: calc(100% - 34px)
}

.select-person-comment input, .select-person-comment button {
	height: 24px;
	font-size: 18px;
	color: #666;
	font-family: Microsoft YaHei;
}

.select-person-comment input {
	margin: 1px 0;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
}

.select-person-comment .submint-btn {
	display: inline-block;
	background-color: #3795ee;
	color: #fff;
	width: 40px;
	min-width: 40px;
	border-radius: 8px;
	text-align: center;
	font-size: 14px;
	border-radius: 4px;
	margin-right: 8px;
}

.comment-bottom {
	background-color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 12px;
	display: table;
	table-layout: fixed;
	width: 100%;
}

.comment-bottom .table-cell {
	display: table-cell;
	vertical-align: middle;
}

.comment-bottom .table-cell span {
	display: inline-block;
	text-align: center;
	background-color: #03a9f4;
	color: #fff;
	height: 100%;
	width: 98%;
	font-size: 18px;
	height: 40px;
	line-height: 40px;
}

.select-person-comment .iconfont:hover:before, .personContent span:hover,
	.option-color:hover, a:hover {
	color: #3795ee
}

.comment-bottom .table-cell span:hover {
	background: #3795ee;
}

.triangle-right {
	margin-right: 7px;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	height: 10px;
	width: 10px;
	margin-left: 8px;
	display: inline-block;
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
}

.triangle-right:hover {
	border-color: #3795ee;
}
/*  常用语 箭头 */
.arrows{
	font-size:18px; 
	cursor: pointer;
}
/*文件信息表 编号弹框样式*/
.add-update-box{
	padding: 20px 10px;
    box-sizing: border-box;
}
.add-update-box div{
	display:inline-block;
	font-size:16px;
	color: #666;
}
.add-update-box .add-update-btn{
	position: relative;
    left: 50%;
    transform: translateX(-50%);
	padding-top:20px;
	box-sizing:border-box;
} 
.add-update-box .add-update-btn input{
	margin-right:10px;
}
/* 设置标签弹框  */
.label-dialog{
	max-width: 50%;
	min-width: 80px;
	max-height: 88px;
	position:absolute;
    top: 31px;
    left: 60px;
    z-index: 99;
    line-height: 34px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #eaeef1;
    border-bottom: none;
    box-shadow: 4px 4px 0 1px rgba(0,0,0,.1);
    overflow: hidden;
    outline: none;
    display:none; 
}
.recycle-label{
	display:inline-block;
	border-top: solid 10px rgba(0,0,0,.1);
    border-left: solid 6px #fff;
    border-right: solid 6px #fff;
    border-bottom: solid 0px #fff;
    position: absolute;
    left: 47%;
    top: 79%;
    transform: rotate(177deg);
}

.rysycle-left{
	left: 49px;
}
.label-tem-box{
	overflow-y:scroll;
	max-height: 50px; 
}
.label-tem-box::-webkit-scrollbar {
        display: none;
    }
.label-dialog .label-data{
	 border-bottom: 1px solid #eaeef1; 
	 line-height: 28px;
	 font-size:16px;
}  
.label-dialog .label-data:hover{
	color:#3f99ee;
}
.label-dialog .label-input {
	font-size: 14px;
	padding: 0 2px;
	height: 26px;
	max-width: 96%;
	webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px
		rgba(82, 168, 236, 0.6);
	display: none;
}
.red {
	color: red;
}
.set-label{
	display:inline-block;
	border-top: solid 10px rgba(0,0,0,.1);
    border-left: solid 6px #fff;
    border-right: solid 6px #fff;
    border-bottom: solid 0px #fff;
    position: absolute;
    left: 55%;
    top: 79%;
    transform: rotate(177deg);
}

/* 发送弹框  */
.all-boxs {
	height: 100%;
}

.right-boxs {
	width: 400px;
	height: 100%;
	display: inline-block;
	padding: 0 27px;
	box-sizing: border-box;
}

.left-boxs {
	width: calc(100% - 405px);
	height: 100%;
	display: inline-block;
	float: left;
	padding: 24px 24px;
	box-sizing: border-box;
	overflow-y: scroll;
}

.left-boxs .recipients-person span {
	font-size: 20px;
	line-height: 26px;
	letter-spacing: 2px;
	color: #333333;
	vertical-align: top;
}

.left-boxs .recipients-person .person-icon {
	display: inline-block;
	background: #42a044;
	color: #fff;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	text-align: center;
	margin-right: 12px;
	padding-left: 2px;
	box-sizing: border-box;
}

.recipients-box .snap-in-box {
	text-align: right;
	margin: 22px 0 19px 40px;
}

.circulation-box {
	margin: 0 0 17px 40px;
}

.recipients-box .snap-in-box  .snap-in {
	display: inline-block;
	width: 96px;
	line-height: 24px;
	border: 1px solid #57a3f1;
	border-radius: 25px;
	text-align: center;
	font-size: 18px;
	letter-spacing: 2px;
	color: #3795ee;
	float: left;
}

.circulation {
	display: block;
	width: 96px;
	line-height: 24px;
	border: 1px solid #57a3f1;
	border-radius: 25px;
	text-align: center;
	font-size: 18px;
	letter-spacing: 2px;
	color: #3795ee;
}

.recipients-box .snap-in-box .snap-in-msg{
	font-size: 14px;
	line-height: 26px;
	letter-spacing: 1px;
	color: #999999;
}

.recipients-box .snap-in-person,.circulation-person{
	font-size: 18px;
	line-height: 26px;
	letter-spacing: 2px;
	color: #333333;
	margin-bottom:18px;
	color: #333;
}
.recipients-box .snap-in-personbox,.circulation-personbox{
	border-bottom:1px solid #e5e5e5;
	margin-left:40px;
}
.recipients-box .del-icon,.del-icon{
	position:absolute;
	right:-5px;
	bottom:22px;
	color: #666;
}
.recipients-box .snap-in-more{
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 2px;
	color: #3795ee;
	text-align:center;
	padding:14px 0 17px 0;
	box-sizing:border-box;
}
.article-illustrates-box  .article-illustrates,.short-message-box .short-message{
	margin:27px 0 22px 0;
}
.article-illustrates-box .article-icon,.short-message-box .short-icon{
	 display:inline-block;
     background:#e56542;
     color:#fff;
     width:28px;
     line-height:28px;
     border-radius:50%;
     text-align: center;
     margin-right:11px;
     vertical-align:baseline;// -webkit-baseline-middle;
     font-size: 20px;
     padding-left: 1px;
}
.short-message-box .short-icon{
	 background:#c1a1ff;
}
.article-illustrates-box .article-illustrates-msg,.short-message-box .short-message-msg{
	font-size: 20px;
	line-height: 26px;
	letter-spacing: 2px;
	color: #333333;
	margin-right:14px;
	vertical-align:baseline;// -webkit-baseline-middle;
}
.article-illustrates-box .article-content,.short-message-box .short-message-content{
	box-shadow: -1px 1px 9px 1px 
		rgba(68, 152, 255, 0.29);
	border-radius: 4px;
	padding:15px;
	box-sizing:border-box;
}
.article-illustrates-box .article-content-text,.short-message-box .short-message-text{
	font-size: 18px;
	line-height: 26px;
	letter-spacing: 2px;
	color: #999;
}
.article-illustrates-box .browse-article,.short-message-box .add-name-box{
	font-size: 18px;
	line-height: 26px;
	letter-spacing: 2px;
	color: #666;
	text-align:right;
}
.article-illustrates-box .browse-article-allinput,.article-illustrates-box .browse-article-oneinput{
	vertical-align: middle;
}
.short-message-box .short-message-name{
	font-size: 18px;
	line-height: 26px;
	letter-spacing: 2px;
	color: #333333;
	margin:0 0 15px 60px;
}
.short-message-box .add-name-text{
	font-size: 18px;
	line-height: 26px;
	letter-spacing: 2px;
	color: #333333;
}
.send-btn{
	background:#4cb6fc;
	margin:17px 0;
	text-align:center;
	line-height: 48px;
	font-size: 16px;
	letter-spacing: 2px;
	color: #ffffff;
}
  .all-boxs  input[type="radio"]+label::before {
            content: "\e65e";/*不换行空格*/
            display: inline-block;
            vertical-align: middle;
            font-family: "iconfont" !important;
            font-size: 18px;
            width: 20px;
            height:20px;
            vertical-align: text-top;
           }
        /* 设置选中样式 */
 .all-boxs input[type="radio"]:checked+label::before {
            content: "\e65f";
            display: inline-block;
            vertical-align: middle;
            font-size: 18px;
            width: 20px;
            height:20px;
            font-family: "iconfont" !important;
            vertical-align: text-top;
           } 
.box-border{
	width: 20px !important; 
    height: 20px !important;
    border-radius:50%; 
    background:#fff !important;
    border-color: #45adf7 !important;  
}
.box-border:after {
	width: 6px !important;
    height: 11px !important;
    left: 5px !important;
    top: 1px !important;
    border: 1px solid #45adf7 !important;
    border-left: 0 !important;
    border-top: 0 !important;
}
.search-box{
	height: 44px;
	margin:25px 0; 
	border-radius: 4px;
	border: solid 1px #e5e5e5;
}
.search-box .search-input{
	display:inline-block;
	width:calc(100% - 73px);
	height:100%;
	padding-left:16px;
}
.search-box .search-btn{
	float: right;
	width:69px;
	height:100%;
	background-color: #3795ee;
	border-radius: 4px;
	text-align: center;
    line-height: 44px;
    color: #fff;
}
.proceeding-box>span{
	font-size: 18px;
	line-height: 26px;
	letter-spacing: 2px;
	color: #333333;
}
.proceeding-box>.power{
	margin-right:27px;
}
.proceeding-box>span.active{
	color: #3795ee;
	display:inline-block;
	border-bottom:3px solid #3795ee;
}
.frequent-contacts-box,.government-box{
	margin:22px 0;
}
.frequent-contacts-box .frequent-contacts-title,.government-box .government-title{
	display:inline-block;
	height:26px;
	line-height: 24px;
	border:1px solid #3795ee;
	color:#3fa7f3;
	font-size: 18px;
	letter-spacing: 2px;
	border-radius:25px;
	padding:0 9px;
	box-sizing:border-box;
	margin-bottom:16px;
}
.frequent-contacts-box .frequent-contacts-list>span{
	display:block;
	font-size: 18px;
	line-height: 31px;
	letter-spacing: 2px;
	color: #666666;
	padding-left: 34px;
}
/* 关联文件框 */
.save-relateddialog-btn{
	margin: 10px;
    float: right;
}
/* 元素配置 */
.element-validbox{
	width:500px;
	height:100%;
	position:absolute;
	right:-500px;
	top:0;
	background:#fff;
	box-shadow:-2px 0 6px #ccc; 
}
.close-validform{
	position:absolute;
	top:0;
	right:10px;
	font-size:24px;
	color:#666;
}
.element-validform{
	padding:40px 0 16px 0;
}
.width-200{
	width:200px !important;
}
.more-box{
	width:20px;
    height:38px;
    background:#fff;
    position:absolute;
    top:1px;
    right:25px;
    z-index:99;
}
/* 许可 */
.permissionbox{
	width:1000px;
	height:100%;
	position:absolute;
	right:-1000px;
	top:0;
	background:#fff;
	box-shadow:-2px 0 6px #ccc; 
}
.permission-testbox{
	display:inline-block;
	border-bottom:1px solid #eee;
	font-size:14px;
	color:#666;
	padding: 10px 0 5px 5px;
	min-width: 200px;
	box-sizing:border-box;
	height:34px;
}
.permission-test{
    border: none !important;
    border-bottom: 1px solid #eee !important;
    }
 .permissionbox .layui-layer-content{
    overflow:hidden !important;
    }
.permission-rightbox{
	width:40%;
	overflow-y:scroll;
	height:240px;
}
.permission-leftbox{
	width:40%;
	height:240px;
	position:relative;
}
.permission-btn{
    position: absolute;
    bottom: 0;
    width: 100%;
   }
 .permission-btn .hs-button{
      margin-left: 0 !important; 
      width:100% !important;
      letter-spacing: 6px;
    }