<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huasisoft.flow.business.mapper.BaseTimeLimitDmMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.huasisoft.flow.business.entity.BaseTimeLimit">
        <id column="ID" property="id" />
        <result column="TASK_ID" property="taskId" />
        <result column="TIME_LIMIT" property="timeLimit" />
        <result column="LIMIT_TYPE" property="limitType" />
        <result column="BIZ_CODE" property="bizCode" />
    </resultMap>

</mapper>
