<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huasisoft.flow.business.mapper.BaseExecutorDetailDmMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.huasisoft.flow.business.entity.BaseExecutorDetail">
        <id column="ID" property="id" />
        <result column="EXEC_GUID" property="execGuid" />
        <result column="TYPE" property="type" />
        <result column="EXECUTOR_ID" property="executorId" />
        <result column="EXECUTOR_NAME" property="executorName" />
    </resultMap>

</mapper>
